body{
    /* Police de caractère */
    font-family: Arial, Helvetica, sans-serif;

    /* Taille de la police */
    font-size: 20px;

    /* Epaisseur de la police */
    font-weight: normal;
    /*normal | bold  */

    /* style de police */
    font-style: normal;
    /* normal | italic */

    /* Alignement du texte */
    text-align: center;
    /* left | center | right */
}

h1{
    font-size: 40px;
    font-weight: normal;
}

p{
    /* Majuscule, minuscule */
    text-transform: uppercase;
    /* lowercase, uppercase, capitalize */

    color: red;
    color: rgb(120, 120, 160);
    color: #000000;
}

ul{
    list-style: none;
}

a{
    /* Style sur le texte (souligné | barré |) */
    text-decoration: none;
    /* underline, ,none, line-through */
    color : red
}

/* PSEUDO CLASS */
/* la pseudo class :hover signifie au survole */

a:hover{
    color: blue;
    font-size: 22px;
}

/* La pseudo class signifie que le lien a été cliqué une fois */
a:visited{
    color: green;
}